# Part 1

In [1]:
import pandas as pd

Step 1: Cut a table from the provided page.

In [2]:
page ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikitables = pd.read_html(page, header=0, attrs={"class":"wikitable sortable"})

print ("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 1 wikitables

Step 2: Save the table to the DataFrame

In [3]:
df = wikitables[0]
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

Step 3: Study the parameters of the DataFrame.

In [4]:
df.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=289, step=1)

In [6]:
df.shape

(289, 3)

Step 4: Delete the rows where Borough = "Not Assigned" .

In [7]:
df = df[df.Borough != 'Not assigned']
df.shape

(212, 3)

Step 5: Correct the rows where Neighbourhood = "Not Assigned" .

In [8]:
df[df.Neighbourhood == 'Not assigned']

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

In [9]:
for ind in df[df.Neighbourhood == 'Not assigned'].index:
    df.xs(ind)['Neighbourhood'] = df.xs(ind)['Borough']

In [10]:
df[df.Borough == "Queen's Park"]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

Step 6: Join Neighbourhood for rows with PostCode and Borough.

In [11]:
df.groupby(['Postcode','Borough']).size().head()

Postcode  Borough
M1B       Scarborough    2
M1C       Scarborough    3
M1E       Scarborough    3
M1G       Scarborough    1
M1H       Scarborough    1
dtype: int64

In [12]:
df = df.groupby(['Postcode','Borough'], as_index=False).agg(lambda x: ','.join(x))
df.shape

(103, 3)

Step 7: View and Study our results.

In [13]:
df.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [14]:
df.shape

(103, 3)